*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    font-size: 75px;
    margin: 0 5%;
    text-align: center;
    color: peru;
    background-color: cornsilk
}

#sep{
    background-color: powderblue;
    margin-left: 10%;
    margin-right: 10%;
}

#one h1{
    color: goldenrod;
    background-color: lavender;
    text-align: center;
    font-size: 60px;
    margin-left: 20%;
    margin-right: 20%;
}

h2{
    font-size: 30px;
    color: crimson;
    text-align: center;
    background-color: gold;
    margin: 0 20%;
    letter-spacing: 10px;
}

#one p{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: purple;
    background-color: blanchedalmond;
    margin: 5% 20%;
}

button{
    block-size: 18px;
}

#two{
    text-align: center;
}

#two h1{
    font-size: 40px;
}

#two p{
    font-size: large;
}

#closer{
    text-align: center;
    font-size: 200px;
}

span{
    color: black;
    font-weight: bolder;
    font-size: 30px;
    font-stretch: extra-expanded;
}